llama-index
llama-index-vector-stores-supabase
llama-index-vector-stores-postgres
llama-index-embeddings-openai
llama-index-llms-openai
fastapi
uvicorn
supabase
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
asyncpg
llama-index-storage-chat-store-postgres
